.low{
    background-color: #558B2F;
}

.mod{
    background-color: #F9A825;
}	

.high{
    background-color: #EF6C00;
}		

.vHigh{
    background-color: #B71C1C;
}	

.extr{
    background-color: #6A1B9A;
}	

